*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  color: #777777;
}

.container {
  max-width: 1140px;
  padding: 20px;
  margin: 0 auto;
}

header {
  background: url("https://i.postimg.cc/Gpv43JF7/Background-Image.png");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

header img {
  height: 26px;
}

nav {
  paddiing: 20px 0;
  color: #fff;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0 40px 0 0;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  overflow: hidden;
  max-width: 1140px;
  padding: 20px;
  margin: 0 auto;
}

nav li a {
  text-decoration: none;
  color: #fff;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 40px;
  margin: 205px 0 50px 0;
  color: #fff;
  text-align: center;
  font-weight: 400;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.item-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.btn {
  text-decoration: none;
  padding: 20px 35px;
  min-width: 160px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #FED136;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #222222;
  margin-bottom: 0;
  margin-top: 100px;
}

.section-subtitle {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  color: #777777;
  font-weight: 400;
  text-align: center;
  margin-bottom: 60px;
}

.icon {
  padding: 10px;
  border: 3px solid #FED136;
  border-radius: 50%;
}

h4 {
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #222222;
}

.content {
  padding: 0 25px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  color: #777777;
}

.container-gray {
  background: #F7F7F7;
  padding-top: 20px;
}

.wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1140px;
  margin: 0 auto;
}

.portfolio-box {
  background: #fff;
  margin-bottom: 40px;
}

.img {
  width: 290px;
  height: 300px;
}

.img-1 {
  background: url("https://i.postimg.cc/904gBqM9/ebonyivory.jpg");
  background-position: center;
  background-size: cover;
}

.img-2 {
  background: url("https://i.postimg.cc/Bn6yZ6HR/smart-stationary.jpg");
  background-position: center;
  background-size: cover;
}

.img-3 {
  background: url("https://i.postimg.cc/k4HfDXcg/clever-poster.jpg");
  background-position: center;
  background-size: cover;
}

.img-4 {
  background: url("https://i.postimg.cc/VkVhJ8Fv/vinyl-record.jpg");
  background-position: center;
  background-size: cover;
}

.img-5 {
  background: url("https://i.postimg.cc/GpcM5ftd/treehouse-template.jpg");
  background-position: center;
  background-size: cover;
}

.img-6 {
  background: url("https://i.postimg.cc/j52MsJy1/burned-logo.jpg");
  background-position: center;
  background-size: cover;
}

.portfolio-box img {
  width: 290px;
  height: 300px;
  overflow: hidden;
}

.description {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  color: #777777;
  font-weight: 400;
  text-align: center;
  margin: 0 0 30px 0;
}

.no-margin {
  margin-bottom: 0;
}

footer ul {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 48px 0;
  padding: 0;
}

i {
  font-size: 20px;
  background: #222222;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  padding: 11px 0;
  text-align: center;
  margin: 0 auto;
}

footer a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}

.list li {
  font-size: 0;
}

i:hover {
  transform: scale(1.2);
}

footer a:hover {
  transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */